/*Imports*/ /*Variables*/
* {
  /*font-family: 'Oswald', sans-serif;*/
  font-family: "Courier New", Courier, monospace;
  background-color: #393b43;
  color: #FFFFFF;
  padding: 0%;
  margin: 0%;
}

/* General Formatting */
div h1 {
  font-size: 36px;
  width: 100%;
}
div a p {
  font-size: medium;
}
div p {
  text-align: justify;
  font-size: medium;
}

.nav-link {
  font-size: large !important;
}

/*Index*/
#index-img {
  -webkit-animation: orbit 7s linear infinite;
          animation: orbit 7s linear infinite;
  max-width: 210px;
  max-height: 260px;
  width: auto;
  height: auto;
}

/*Info*/
#info-img {
  display: flex;
  max-width: 400px;
  max-height: 600px;
  height: auto;
}

.iframe-width {
  max-width: 1200px !important;
}

.carousel-indicators {
  opacity: 0.35 !important;
}

/*Animation Properties*/
@-webkit-keyframes orbit {
  from {
    transform: rotate(0deg);
    offset-distance: 100%;
  }
  to {
    transform: rotate(2880deg);
    offset-distance: 100%;
  }
}
@keyframes orbit {
  from {
    transform: rotate(0deg);
    offset-distance: 100%;
  }
  to {
    transform: rotate(2880deg);
    offset-distance: 100%;
  }
}
/*Card Flip*/
.container {
  transform-style: preserve-3d;
}
.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}
.container .box .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}
.container .box .body .imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .box .body .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #393b43;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
.container .box .body .content div {
  transform-style: preserve-3d;
  padding: 20px;
  background-image: linear-gradient(to right top, #b0b1b7, #9899a0, #818289, #6b6c73, #55565e, #55565e, #55565e, #55565e, #6b6c73, #818289, #9899a0, #b0b1b7);
  transform: translateZ(100px);
  border-radius: 1%;
}
.container .box .body .content div h3 {
  letter-spacing: 1px;
}
.container .box:hover .body {
  transform: rotateY(180deg);
}

/*Mobile Medium Devices*/
@media (min-width: 768px) {
  * {
    -webkit-text-size-adjust: auto;
  }
  div a p {
    font-size: large;
  }
  #index-img {
    -webkit-animation: orbit 7s linear infinite;
            animation: orbit 7s linear infinite;
    max-width: 100%;
  }
  .div-width {
    width: auto;
    max-width: 90%;
  }
}
/*Desktop Devices*/
@media (min-width: 992px) {
  * {
    -webkit-text-size-adjust: auto;
  }
  #index-img {
    -webkit-animation: orbit 7s linear infinite;
            animation: orbit 7s linear infinite;
    max-width: 100%;
  }
  .div-width {
    width: auto;
    max-width: 85%;
  }
  #info-iframe {
    max-width: 1200px;
    max-height: 900px;
  }
}
/*Large Desktop Devices*/
@media (min-width: 1400px) {
  * {
    -webkit-text-size-adjust: auto;
  }
  div a p {
    font-size: x-large;
  }
  #index-img {
    -webkit-animation: orbit 7s linear infinite;
            animation: orbit 7s linear infinite;
    max-width: 100%;
  }
  .carousel-inner {
    width: 70% !important;
  }
  .div-width {
    width: auto;
    max-width: 75%;
  }
}/*# sourceMappingURL=styles.css.map */