$font-families: (
    courier-new: ('Courier New', Courier, monospace),
    verdana: (Verdana, Geneva, Tahoma, sans-serif),
    oswald: ("Oswald", sans-serif)
);
$default-font: map-get($font-families, verdana);
